!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title one photo every day
  %link{:href => "http://photoaday.jdenn.es/"}
  %link{:href => "http://photoaday.jdenn.es/feed/", :rel => "self"}
  %id http://photoaday.jdenn.es.com/
  %updated= @photos[0][4]
  %author
    %name James Dennes
  - @photos.each do |title, img_src_s, img_src, photo_url, taken|
    %entry
      %title&= title
      %link{:href => "http://photoaday.jdenn.es#{photo_url}"}
      %id= "http://photoaday.jdenn.es#{photo_url}"
      %published= taken
      %updated= taken
      %content{:type => "xhtml"}
        %div{:xmlns => "http://www.w3.org/1999/xhtml"}
          %p
            %img{:src => img_src, :alt => title}